#search-box {
  width: 250px;
  margin: 20px;
  padding: 10px 15px;
  border: 1px solid rgba(207, 207, 207, 0.2); 
  border-radius: 5px; 
  background-color: rgba(255, 255, 255, 0); 
  color:white;
  font-size: 16px;
 
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
#search-box::placeholder {
  color: white;}

#search-box:focus {
  
  border-color: rgba(0, 0, 0, 0.5); 
}
#search-btn{
  margin: 20px;
  padding: 10px 15px;
  border: 1px solid rgba(207, 207, 207, 0.2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0); 
  color:white;
  font-size: 16px;
 
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

#last-col{
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  padding: 20px; 
     border-top-right-radius:3px ;
     border-left: 1px solid gray;
     height: 60rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 10px; 
}

.box {
  padding: 20px;
  text-align: center;
  
}

.box1, .box2, .box4, .box5 {
  grid-row: span 1;
}

.box3 {
  grid-row: span 2; 
}

.box5{
  text-align:right;
  
}

